<% provide(:title) %>
<div id="about-top" class="hero-unit">
	<div class="row" id="about-title">
		about
	</div>
</div>
<div id="about" class="hero-unit">
	<p><%= link_to "Considerating", root_path %> is a project by <a href="http://thingswemake.com">Josh Sucher</a> and <a href="http://daniellesucher.com">Danielle Sucher</a>.</p>
	<br />
	<p>Feel free to <a href="https://github.com/joshsucher/considerating">grab the source code</a> via Github. </p>
</div>