body {
	color: #000000;
	#background-color: transparent; 
	#background-color: rgb(255,255,255);
	#background: url(cloudy2.jpg) no-repeat center center fixed;	
	#-webkit-background-size: cover;
	#-moz-background-size: cover;
	#-o-background-size: cover;
	#background-size: cover;
	a:link {color: #000000; text-decoration: none; }
	a:active {color: #000000; text-decoration: none; }
	a:visited {color: #000000; text-decoration: none; }
	a:hover {color: #000000; text-decoration: none; }
	font-family: "futura-pt", sans-serif;
	font-size: 15px;
}

.container {
    padding-bottom: 90px;
}

.navdivider {
display:inline-block;
padding-left:5px;
}

.ui-slider-input {
    display : none !important;
}

@media only screen 
and (max-width : 399px) {
.navdivider {
display:block;
visibility:hidden;
line-height:0.5em;
text-decoration:underline;
}
}

#header_container {
display:table;
margin-top:30px;
height:70px;
text-align:center;
width:100%;
}

.main-body {
	clear: both;
}

#banner {
	text-align: left;
	font-family: "futura-pt", sans-serif;
	font-weight: 700;
		a:link {color: #000000; text-decoration: none; }
		a:active {color: #000000; text-decoration: none; }
		a:visited {color: #000000; text-decoration: none; }
		a:hover {color: #333333; text-decoration: none; }
  	display:inline-block;
vertical-align:middle;
padding-left:10px;
padding-right:10px;
padding-bottom:25px;
}

@media only screen 
and (min-width : 400px) {
#banner {
font-size: 50px;
}
}

@media only screen 
and (max-width : 399px) {
#banner {
font-size: 40px;
}
}


#user_nav {
	direction: rtl;
  	display:inline-block;
vertical-align:middle;
text-align:center;
padding-bottom:25px;
}

.user_nav {
	background-color: transparent; /* #FDF8FF */
	padding-left: 3px;
	padding-right: 3px;
}

.searchfield,
.user_nav,
.vote-form,
.number-votes,
#user_nav,
#submitted,
.bottombar {
	font-size: 13px;
}

.user_nav a:hover {
	color:#333333;
}

.searchdiv {
	background-color: transparent;
  	display:inline-block;
  	vertical-align:middle;
  	width:auto;
  	padding-top:5px;
  	min-width:175px;
  	padding-bottom:25px;
}

#query {
width:150px;
}

.searchspan {
	background: white;
  	padding-right: 5px;
  	margin-left: 25px;
  	margin-right:25px;
    vertical-align:middle;
}

.searchform {
margin-bottom:0px;
}

.new-consideration-field,
.searchspan {
	-webkit-border-radius: 6px;
  	-moz-border-radius: 6px;
  	border-radius: 6px;
  	border: 1px solid #999999;
	font-family: "futura-pt", sans-serif;
}

#search-page {
	clear: both;
	margin-top: 20px; //js 160px
}

#voting {
	padding-top: 10px;
}

.searchbutton {
	background: url(magnifying_glass_12x12_gray.png) no-repeat center;
}

.searchfield,
.searchbutton {
	font-family: "futura-pt", sans-serif;
	border: none;
	background-color: transparent;
  	-webkit-box-shadow: none;
  	-moz-box-shadow: none;
  	box-shadow: none;
}

#profile-top,
#about-top {
	margin-right: auto;
	margin-left: auto;
	font-family: "parisine-std-sombre", sans-serif;
	a:link {color: #000000; text-decoration: none; }
	a:active {color: #000000; text-decoration: none; }
	a:visited {color: #000000; text-decoration: none; }
	a:hover {color: #000000; text-decoration: none; }
  	text-align: center;
}

#profile-name {
	font-size: 36px;
  	line-height: 36px;
  	margin-top: 50px;
  	font-family: "futura-pt", sans-serif;
  	font-weight:400;
}

#profile-ban {
	font-size: 14px;
  	font-family: "futura-pt", sans-serif;
  	font-weight:400;
}

#about-title {
	font-size: 24px;
  	line-height: 36px;
  	margin-top: 70px;
  	font-family: "futura-pt", sans-serif;
  	font-weight:700;
}

#about { 
	a:link { border-bottom:1px dotted; }
	a:active { border-bottom:1px dotted; }
	a:visited { border-bottom:1px dotted; }
	a:hover { border-bottom:1px dotted; }
	padding-bottom: 20px;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
  	padding-bottom: 100px;
  	-webkit-border-radius: 6px;
  	-moz-border-radius: 6px;
  	border-radius: 6px;
}

.bottombar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

#footer {
	background-color: #f2f2f2; /* or maybe #FDF8FF */
	padding-left: 3px;
	padding-right: 3px;
}

.new-consideration-field {
	padding:5px;
	text-align: center;
	height: 100px;
	width:85%;
}

#new-consideration-textarea {
width:75%;
margin-left:auto;
margin-right:auto;
text-align:center;
}

#new-consideration-button {
text-align:center;
	padding-top: 25px;
	font-family: "futura-pt", sans-serif;
	color: #000;
	width:90%;
	margin-left:auto;
	margin-right:auto;
	padding-right:0px;
	padding-left:0px;
}

#new-cons-button,
#vote-button {
	font-family: "futura-pt", sans-serif;
}

#new-cons-button {
clear:both;
}

.vote-button {
	margin-top: 10px;
	padding-top: 10px;
	color: #000;
	font-size: 13px;
	text-align:center;
}

#vote-button {
	text-align: center;
	vertical-align:middle;
}

input#vote-button{
width:50px; /*same as the height*/
height:50px; /*same as the width*/
background:#ff0000;
border:1px solid #ff0000; /*same colour as the background*/
color:#fff;
font-size:18px;
/*set the border-radius at half the size of the width and height*/
-webkit-border-radius: 25px;
-moz-border-radius: 25px;
border-radius: 25px;
/*give the button a small drop shadow*/
    -webkit-box-shadow: inset -2px -2px 1px rgb(100,0,0);
	-moz-box-shadow: inset -2px -2px 1px rgb(100,0,0);
}
/***NOW STYLE THE BUTTON'S HOVER STATE***/
input#vote-button:hover{
background:#c20b0b;
border:1px solid #c20b0b;
/*reduce the size of the shadow to give a pushed effect*/
    -webkit-box-shadow: inset -1px -1px 1px rgb(100,0,0);
	-moz-box-shadow: inset -1px -1px 1px rgb(100,0,0);
}

input#new-cons-button{
width:60px; /*same as the height*/
height:60px; /*same as the width*/
background:#ff0000;
border:1px solid #ff0000; /*same colour as the background*/
color:#fff;
font-size:18px;
/*set the border-radius at half the size of the width and height*/
-webkit-border-radius: 30px;
-moz-border-radius: 30px;
border-radius: 30px;
/*give the button a small drop shadow*/
    -webkit-box-shadow: inset -2px -2px 1px rgb(100,0,0);
	-moz-box-shadow: inset -2px -2px 1px rgb(100,0,0);
}
/***NOW STYLE THE BUTTON'S HOVER STATE***/
input#new-cons-button:hover{
background:#c20b0b;
border:1px solid #c20b0b;
/*reduce the size of the shadow to give a pushed effect*/
    -webkit-box-shadow: inset -1px -1px 1px rgb(100,0,0);
	-moz-box-shadow: inset -1px -1px 1px rgb(100,0,0);
}


.btn2 {
  text-align: center;
  cursor: pointer;
  display: inline-block;
  background-color: #e6e6e6;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
  background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
/*  padding: 5px 14px 6px; sucher edit */
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  color: #000;
  font-size: 13px;
  line-height: normal;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  -ms-transition: 0.1s linear all;
  -o-transition: 0.1s linear all;
  transition: 0.1s linear all;
}
.btn2:hover {
  background-position: 0 -15px;
  color: #000;
  text-decoration: none;
}
.btn2:focus {
  outline: 1px dotted #666;
}
.btn2-primary {
  color: #fff;
  background-color: #fff;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#A9A9A9), to(#696969));
  background-image: -moz-linear-gradient(top, #A9A9A9, #696969);
  background-image: -ms-linear-gradient(top, #A9A9A9, #696969);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #A9A9A9), color-stop(100%, #696969));
  background-image: -webkit-linear-gradient(top, #A9A9A9, #696969);
  background-image: -o-linear-gradient(top, #A9A9A9, #696969);
  background-image: linear-gradient(top, #A9A9A9, #696969);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A9A9A9', endColorstr='#696969', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #696969 #696969 #003f81;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn2.active, .btn2:active {
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
}

/* centering the heroes in home and show */
#mini-hero,
#number-votes,
#vote-results {
	text-align: center;
	#width: 600px ;
	width:auto;
  	margin-left: auto ;
  	margin-right: auto ;
}
    
#home-consideration-content {
	//padding-left: 50px;
}

#consideration-content-big,
#new-consideration-page,
#each-consideration,
#ban-page,
#no-search-results {	
	text-align: left;
	padding-left: 30px;
	padding-right: 30px;
	#width: 600px ; //js
	width:auto;
  	margin-left: auto ;
  	margin-right: auto ;
  	padding-bottom: 100px;
  	
  	-webkit-border-radius: 6px;
  	-moz-border-radius: 6px;
  	border-radius: 6px;
} 

#each {
  font-size: 18px;
  text-align: center;
}

#consideration-content-big,
#no-search-results {
  	#margin-top: 50px;
  	padding-top: 30px;
}

#new-consideration-page {
  	margin-top: 40px;
  	#padding-top: 80px;
}

@media only screen 
and (min-width : 400px) {
#new-consideration-page {
padding-top: 80px;
}
}


#ban-button {
	float: right;
	margin-right: 150px;
	margin-top: 10px;
	padding-top: 10px;
	color: #000;
	font-size: 13px;
	text-align:center;
	width: 100px;
}

#ban-btn {
	font-family: "futura-pt", sans-serif;
}

#consideration-content-big {
	padding-bottom: 30px;
}

.home-bottom {
	clear: both;
	margin-top: 50px;
	font-size: 24px;
	font-weight: 700;
	text-align:center;
	text-decoration: none;
	a:hover { color: #333333; }
}

#submitted {
	clear: both;
	text-align: center;
	a:link { border-bottom:1px dotted; }
	a:active { border-bottom:1px dotted; }
	a:visited { border-bottom:1px dotted; }
	a:hover { border-bottom:1px dotted; }
}

.bezier {
max-width:880px;
min-width:100px;
margin-left:0px;
margin-right:auto;
height: 240px;
}

@media only screen 
and (max-width : 700px) and (min-width : 601px) {
.bezier {
height:200px;
}
}

@media only screen 
and (max-width : 600px) and (min-width : 501px) {
.bezier {
height:150px;
}
}

@media only screen 
and (max-width : 500px) {
.bezier {
height:120px;
}
}

.bezier_and_labels {
max-width:880px;
width:100%;
margin-left:auto;
margin-right:auto;
}

/* graph labels */

.graph-label-container {
#max-width:880px;
width:100%;
min-width:100px;
height:20px;
display:table;
margin-left:auto;
margin-right:auto;
}

@media only screen 
and (min-width : 600px) {
.graph-creepy, .graph-considerate {
font-size:16px;
}
}

@media only screen 
and (max-width : 599px) {
.graph-creepy, .graph-considerate {
font-size:14px;
}
}


.graph-creepy {
	display:table-cell;
	margin-top: 10px;
	text-align:right;
	width: auto;
	font-weight:700;
}

.graph-considerate {
	display:table-cell;
	margin-top: 10px;
	text-align:left;
	width: auto;
		font-weight:700;
}

.fd-slider,
.vote-form {
	text-align: center;
}

#total-vote-count {
	clear: both;
	text-align: center;
	padding-top: 10px;
}

.tweet {
	clear: both;
text-align:center;
	font-size: 13px;
	margin-top:20px;
}

.each-tweet {
	clear: both;
	text-align:center;
	font-size: 13px;
	margin-top:20px;
}

#consideration-text {
	text-align: center;
	font-family:"futura-pt";
	font-style:normal;
	font-weight:bold;
	max-width:800px;
	margin-left:auto;
	margin-right:auto;
	line-height:normal;
}

@media only screen 
and (max-width : 699px) {
#consideration-text {
font-size:20px;
}
}

@media only screen 
and (min-width : 700px) {
#consideration-text {
font-size:24px;
}
}
