.pagination .current {
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	vertical-align:middle;
	border:0px;
}

.pagination a.previous_page, .pagination a.next_page {
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	border:0px;
	font-weight:bold;
	background-color:transparent;
}

.pagination a.previous_page:hover, .pagination a.next_page:hover {
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	border:0px;
	font-weight:bold;
		    	background-color:rgba(255,255,255,0.6);
}

.digg_pagination {
  background: transparent;
  cursor: default;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    display: block;
    float: left;
background:#ff0000;
border:1px solid #ff0000; /*same colour as the background*/
color:#fff;
font-size:18px;
/*set the border-radius at half the size of the width and height*/
-webkit-border-radius: 40px;
-moz-border-radius: 40px;
border-radius: 40px;
/*give the button a small drop shadow*/
    -webkit-box-shadow: inset -2px -2px 1px rgb(100,0,0);
	-moz-box-shadow: inset -2px -2px 1px rgb(100,0,0);
	font-size:12px;
	margin-left:2px;
    }
  .digg_pagination .disabled a, .digg_pagination .disabled span, .digg_pagination .disabled em {
    display: block;
    float: left;
    margin-right: 1px;
  	-webkit-border-radius: 6px;
  	-moz-border-radius: 6px;
  	border-radius: 6px;
	background: transparent; /* otherwise #FAEBD7 */
	background-repeat: repeat-x;
    background-repeat: repeat-y;	
    }
  .digg_pagination .disabled {
    color: #333333;
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
  padding: 0 14px;
	line-height:34px;
	visibility:hidden;
	}
  .digg_pagination .current {
    font-style: normal;
    font-weight: 700;
      font-family: "futura-pt";
background-color:#c20b0b;
	background-repeat: repeat-x;
    background-repeat: repeat-y;	
    -webkit-box-shadow: inset -1px -1px 1px rgb(100,0,0);
	-moz-box-shadow: inset -1px -1px 1px rgb(100,0,0);
    }
  .digg_pagination a {
    text-decoration: none;
    color: #105cb6; 
    }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #000033;
      		    	background-color:#c20b0b;
      		    	    -webkit-box-shadow: inset -1px -1px 1px rgb(100,0,0);
	-moz-box-shadow: inset -1px -1px 1px rgb(100,0,0);
 }
  .digg_pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden; }